{% extends "base.html" %}

{% load wagtailcore_tags %}

{% block body_class %}template-applicationpage{% endblock %}

{% block content %}
    <div class="breadcrumb-wrapper">
        <h1>{{ page.title }}</h1>
    </div>
    <div class="card card-default">
        <div class="card-header card-header-border-bottom">
            <h2>Description</h2>
        </div>
        <div class="card-body">
            <div class="description">{{ page.description|richtext }}</div>
        </div>
    </div>

    {% if host_pages %}
    <div class="card card-default">
        <div class="card-header card-header-border-bottom">
            <h2>Hosts</h2>
        </div>
        <div class="card-body pt-0 pb-5">
            <table class="table card-table table-responsive table-responsive-large table-borderless" style="width:100%">
                <thead>
                    <tr>
                        <th>Host</th>
                        <th>Hostname</th>
                        <th>IP Address</th>
                    </tr>
                </thead>
                <tbody>
                    {% for host in host_pages %}
                    <tr>
                        <td><a class="text-dark" href="{% pageurl host %}">{{ host.title }}</a></td>
                        <td>{{ host.specific.hostname }}</td>
                        <td>{{ host.specific.ip_address }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% endif %}
    {% if identity_pages %}
    <div class="card card-default">
        <div class="card-header card-header-border-bottom">
            <h2>Identities</h2>
        </div>
        <div class="card-body pt-0 pb-5">
            <table class="table card-table table-responsive table-responsive-large table-borderless" style="width:100%">
                <thead>
                    <tr>
                        <th>Identity</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    {% for identity in identity_pages %}
                    <tr>
                        <td><a class="text-dark" href="{% pageurl identity %}">{{ identity.title }}</a></td>
                        <td>{{ identity.specific.description }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% endif %}
    {% if test_pages %}
    <div class="card card-default">
        <div class="card-header card-header-border-bottom">
            <h2>Tests</h2>
        </div>
        <div class="card-body pt-0 pb-5">
            <table class="table card-table table-responsive table-responsive-large table-borderless" style="width:100%">
                <thead>
                    <tr>
                        <th>Test</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for test in test_pages %}
                    <tr>
                        <td><a class="text-dark" href="{% pageurl test %}">{{ test.title }}</a></td>
                        {% if test.specific.test_status == 'detected' %}
                        <td><span class="badge badge-warning">Detected</span></td>
                        {% elif test.specific.test_status == 'stopped' %}
                        <td><span class="badge badge-success">Stopped</span></td>
                        {% elif test.specific.test_status == 'failed' %}
                        <td><span class="badge badge-success">Failed</span></td>
                        {% elif test.specific.test_status == 'successful' %}
                        <td><span class="badge badge-danger">Successful</span></td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% endif %}

    {% if notes %}
        {% for note in notes %}
        <div class="card card-default">
            <div class="card-header card-header-border-none">
                <a class="h4 text-dark" href="{% pageurl note %}">{{ note.title }} - {{ note.owner }} - {{note.last_published_at}}</a>
            </div>
            <div class="card-body pt-0 pb-5">
                <div class="note">{{ note.specific.detail|richtext }}</div>
            </div>
        </div>
        {% endfor %}
    {% endif %}


{% endblock %}